<li id="<%= dom_id task %>">
 	<%= form_for task, 
 	             :as => :task, 
 	             :remote => true,
               :url => project_feature_iteration_task_path(@project, @feature, @iteration, task),   
               :loading => 'App.disableProjectForm()',
               :complete => 'App.enableProjectForm()',
               :html => {:id => 'task-form', :method => :put } do |f| %>

	  <%= render :partial => 'tasks/form', :locals => { :task => task, :f => f }%>

 
 	  <%= submit_tag 'Edit task' %> or 

      <%= link_to 'Cancel', cancel_project_feature_iteration_task_path(@project, @feature, @iteration, task), 
	                 :method => :get,
	                 :remote => true %>

 	  <%= image_tag 'indicator.gif', :id => 'form-indicator', :style => 'display:none;' %>

 	<% end %>

</li>