<li id="<%= dom_id task %>">
<b><%= task.user ? friendly_user_name(task.user) : "Unassigned" %></b> needs 
<b><%= pluralize(task.days, "day") %></b> to complete <b><%= task.name %></b> task
<br/>

<% if user_signed_in?  %>

<%= link_to 'Edit', edit_project_feature_iteration_task_path(@project, @feature, @iteration, task), 
                 :method => :get,
                 :method => :remote %> or
 <%= link_to 'Destroy',project_feature_iteration_task_path(@project, @feature, @iteration, task),
                 :confirm => 'Are you sure?',
	               :method => :delete,
	               :method => :remote %>
<% end %>

<br/>
- <%= task.description %><br/>

</li>