<li id="<%= dom_id task %>">
<b><%= task.user ? task.user.login : "Unassigned" %></b> needs 
<b><%= pluralize(task.days, "day") %></b> to complete <b><%= task.name %></b> task
<br/>

<% if logged_in?  %>

<%= link_to_remote 'Edit', 
                 :url => edit_task_path(@project, @feature, @iteration, task), 
                 :method => :get %> or
 <%= link_to_remote 'Destroy',
                 :url => task_path(@project, @feature, @iteration, task),
                 :confirm => 'Are you sure?',
	             :method => :delete %>
<% end %>

<br/>
- <%= task.description %><br/>

</li>