<li id="<%= dom_id task %>">
<b><%= task.user ? friendly_user_name(task.user) : "Unassigned" %></b> needs 
<b><%= pluralize(task.days, "day") %></b> to complete <b><%= task.name %></b> task
<br/>

<% if user_signed_in?  %>

<%= link_to 'Edit', edit_project_feature_iteration_task_path(@project, @feature, @iteration, task), 
                 :method => :get,
                 :remote => true %> or
 <%= link_to 'Destroy',project_feature_iteration_task_path(@project, @feature, @iteration, task),
                 :confirm => 'Are you sure?',
	               :method => :delete,
	               :remote => true %>
	               
	
 <%= form_for task, 
 	          :as => :task, 
 	          :remote => true,
             :url => complete_project_feature_iteration_task_path(@project, @feature, @iteration, task),   
             :html => {:id => 'task-form', :method => :put } do |f| %>

             <%= f.hidden_field 'name' %>

             <%= f.hidden_field 'description' %>
             <%= f.hidden_field 'priority_id' %>
             <%= f.hidden_field 'days' %>
             <%= f.hidden_field 'user_id' %>
             or Mark this task completed
             <%= f.check_box 'completed' %>


 	  <%= submit_tag 'Update' %> 


 	<% end %>
	               
	               	               
<% end %>

<br/>
- <%= task.description %><br/>

</li>