<%= link_to "Projects", projects_path %> > 
<%= link_to @project.name, project_features_path(@project) %> > 
<%= link_to @feature.name, project_feature_iterations_path(@project, @feature) %> >
<%= @iteration.name %> 

<h2><%= @iteration.name %> iteration has 
	<span id="task-count"><%= pluralize(@iteration.tasks.length, "Task") %> </span>
	
</h2>

<h3 id="high"><%= @high_tasks.length %> High</h3>
	<ul id="tasks-high">
	<%= render :partial => 'tasks', :locals => {:tasks => @high_tasks} %>
	</ul>
<h3 id="med"><%= @med_tasks.length %> Medium</h3>
	<ul id="tasks-med">
	<%= render :partial => 'tasks', :locals => {:tasks => @med_tasks} %>
	</ul>
<h3 id="low"><%= @low_tasks.length %> Low</h3>
	<ul id="tasks-low">
	<%= render :partial => 'tasks', :locals => {:tasks => @low_tasks} %>
	</ul>

<br/>
<%= render :partial => 'tasks/new' if user_signed_in?  %> 