Projects

<h2><%= self.current_user ? self.current_user.login : "Guest" %>  has 
	<span id="project-count"><%= pluralize(@projects.length,"project") %> </span>
	
</h2>
<h3 id="high"><%= @high_projects.length %> High</h3>
	<ul id="projects-high">
		<%= render :partial => 'projects', :locals => {:projects => @high_projects} %>
	</ul>
<h3 id="med"><%= @med_projects.length %> Medium</h3>
	<ul id="projects-med">
		<%= render :partial => 'projects', :locals => {:projects => @med_projects} %>
	</ul>
<h3 id="low"><%= @low_projects.length %> Low</h3>
	<ul id="projects-low">
		<%= render :partial => 'projects', :locals => {:projects => @low_projects} %>
	</ul>

<br/>
<%= render :partial => 'projects/new' %> <!-- if logged_in? -->

