<%= link_to "Projects", projects_path %> > <%= link_to @project.name, features_path(@project) %> > <%= @feature.name %>

<h2 id="iteration-header"><%= @feature.name %> feature has 
	<%= pluralize @iterations.length, "Iteration" %> 
	
</h2>

<ul id="iterations">
<%= render :partial => 'iterations', :locals => {:iterations => @iterations} %>
</ul>

<br/>
<%= render :partial => 'iterations/new' if logged_in?  %>