<li id="<%= dom_id feature %>">
 	<%= form_for feature, 
 	            :as => :feature, 
 	            :remote => true,
              :url => project_feature_path(@project, feature),   
              :loading => 'App.disableProjectForm()',
              :complete => 'App.enableProjectForm()',
              :html => {:id => 'feature-form', :method => :put } do |f| %>

	  <%= render :partial => 'features/form', :locals => { :feature => feature, :f => f }%>

 
 	  <%= submit_tag 'Edit feature' %> or 

      <%= link_to 'Cancel', cancel_project_feature_path(@project, feature), 
	                 :method => :get,
	                 :remote => true %>

 	  <%= image_tag 'indicator.gif', :id => 'form-indicator', :style => 'display:none;' %>

 	<% end %>

</li>