<%= link_to "Projects", projects_path %> > <%= @project.name %>

<h2><%= @project.name %> project has 
	<%= pluralize(@project.features.length,"feature") %> that requires
	<%= pluralize(@project.total_days, "day")%> to complete
	
</h2>
<h3 id="high"><%= @high_features.length %> High</h3>
<ul id="features-high">
<%= render :partial => 'features', :locals => {:features => @high_features} %>
</ul>
<h3 id="med"><%= @med_features.length %> Medium</h3>
<ul id="features-med">
<%= render :partial => 'features', :locals => {:features => @med_features} %>
</ul>
<h3 id="low"><%= @low_features.length %> Low</h3>
<ul id="features-low">
<%= render :partial => 'features', :locals => {:features => @low_features} %>
</ul>

<br/>
<%= render :partial => 'features/new' if logged_in?  %>